
@font-face {font-family: "iconfont";
 src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujubaobiao:before { content: "\e63c"; }

.icon-zonghechaxun:before { content: "\e67b"; }

.icon-cailiaozidian:before { content: "\e6e0"; }

.icon-xiangmuzijian:before { content: "\e69a"; }

.icon-zijian1:before { content: "\e6f9"; }

.icon-yanshoutongguo:before { content: "\e8e5"; }

.icon-shezhi2:before { content: "\e74b"; }

.icon-zhunbei:before { content: "\e671"; }

.icon-shezhi3:before { content: "\e635"; }

.icon-zijian:before { content: "\e63e"; }

.icon-cailiao:before { content: "\e816"; }

.icon-tongzhi:before { content: "\e61f"; }

.icon-gongzhongjiandu:before { content: "\e622"; }

.icon-jieguoji:before { content: "\e604"; }

.icon-tongzhi1:before { content: "\e600"; }

.icon-xiaozu:before { content: "\e607"; }

.icon-shiti:before { content: "\e638"; }

.icon-weituochaxun:before { content: "\e63f"; }

.icon-renwutongzhi:before { content: "\e65d"; }

.icon-shitimoshiicon:before { content: "\e640"; }

.icon-fabuxinxi:before { content: "\e61a"; }

